.container {
  display: flex;
  flex-direction: column;
  background: #000000;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
}