.link {
  all: unset;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.link:hover:not(.disabled) {
  cursor: pointer;
  opacity: 0.75;
}

.link.disabled,
.link.disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
